*{
    margin: 10;
    padding: 20;
}
body {
    font-family: 'Poppins', sans-serif;
}
.cabecalho {
    background-color: #ff0000;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 0;
}

.cabecalho-imagem{
    width: 15%;
    color: rgb(255, 255, 255);
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 26px;
    font-size: 16px;
}

.escola{
    background-image: linear-gradient(#6200ff,#2600ff);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.escola-div-conteudo{
    width: 65%;
}


.escola-titulo{
    padding: 24px 0;
}

.estudante{
    padding: 24px 0;
}
.estudante-imagem{
    width: 50px;
}

.estudante-icone{
    width: 50px;
    padding: 50px 50px;
}

.Maçãs {
width: 300px;
height: 150%;
}

.maçã {
    width: 300px;
    height: 150%;
}


